<div id="navbar-wrap" class="header-bottom container-custom navbar-wrap white-bg fixed-top">
    <div class="container">
        <div class="header-bottom__row">
            <div class="header-bottom__col flex-grow-1">
                <div class="logo">
                    <a routerLink="home" class="logo__link">
                <img src="assets/images/logo.png" alt="Sonner Web Solutions" />
            </a>
                </div>
            </div>
            <div class="header-bottom__col">
                <div class="main-menu main-menu--startup">
                    <nav class="main-menu__nav">
                        <ul>
                            <li class="list ">
                                <a class="animation" routerLink="/home" routerLinkActive="active" >Home</a>
                            </li>
                            <li class="list ">
                                <a class="animation " routerLink="#" routerLinkActive="active">Services</a>
                            </li>

                            <li class="list ">
                                <a class="animation " routerLink="/aboutus" routerLinkActive="active">About Us</a>
                            </li>
                            <li class="list ">
                                <a class="animation " routerLink="#" routerLinkActive="active">Why Choose Us</a>
                            </li>

                            <li class="list ">
                                <a class="animation " routerLink="/portfolio" routerLinkActive="active">Our Portfolio</a>
                            </li>
                            <li class="list ">
                                <a class="animation " routerLink="/career" routerLinkActive="active">Career</a>
                            </li>

                            <li class="list ">
                                <a class="animation " routerLink="/contactus" routerLinkActive="active">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>