    <!-- ======= Hero inner Start ======= -->
    <section class="hero-inner">
        <div class="hero-inner__bg" style="background-image: url('/assets/images/bg/inner-bg.jpg')" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-breadcrumb">
                            <h1 class="heading">About Us</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="about-us.html">Company</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">About us
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Hero inner End ======= -->

    <!-- ======= About Start ======= -->
    <section class="about about-agency about--inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-30">
                    <div class="about-image about-image--agency position-relative">
                        <img src="/assets/images/home3/about-thumb-agency1.jpg" alt="About" class="about-image__agency_big wow fadeInDown mb-30 animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <img src="assets/images/home3/about-thumb-agency2.jpg" alt="About" class="about-image__agency_small wow fadeInUp mb-30 animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="video">
                            <a class="video-link" href="https://youtu.be/yJg-Y5byMMw" data-fancybox="">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 mb-30">
                    <div class="about-agency__right">
                        <div class="section-software p-0 mb-20">
                            <h2 class="section-software__title_big">We do what we love &amp; we
                                <br>
                                love what we do.
                            </h2>
                        </div>
                        <div class="about-software__content about-agency__content">
                            <span class="title title--small">Sonner Web Solution is one of the leading Information Technology companies, operating from Delhi, India.The company is in existence since 4+ Year and involved in the business of providing software solutions to corporate clients in the areas of Manufacturing, Banking, Sales &amp; Distribution, Supply Chain Management , HR ,Travel Industry and also the author of many Software Products.
                    laptops, cell phones.
                            </span>
                        </div>
                        <div class="list">
                            <ul>
                                <li><i class="fas fa-check"></i>DevOps Development</li>
                                <li class="paragraph">Grursus mal suada faci lisis Lorem ipsum dolarorit
                      ametion sectetur elit dolocons rsus mal to the
                      consectetur elit.
                                </li>
                                <li><i class="fas fa-check"></i>Automated Software</li>
                                <li class="paragraph">Grursus mal suada faci lisis Lorem ipsum dolarorit
                      ametion sectetur elit dolocons rsus mal to the
                      consectetur elit.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= About End ======= -->

    <!-- ======= Service Key Area Start ======= -->
    <section class="services-key services-key--about section-bg-common">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-heading text-center mb-50">
                        <span class="section-heading__title_small">We Offer best IT Services
                        </span>
                        <h2 class="section-heading__title_big">Easy Solutions for all Difficult IT Problems.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="services__item services-key__content services-about mb-30">
                        <div class="services__item_overlay services-key__content_overlay"></div>
                        <header class="services__item_header services-key__content_header">
                            <i class="flaticon flaticon-development services__item_icon services-key__content_icon icon"></i>
                            <h4 class="services__item_title services-key__content_title">
                                <a href="services-details.html">Track Progress Fast</a>
                            </h4>
                        </header>
                        <div class="services__item_content services-key__content_text">
                            <p class="services__item_paragraph services-key__content_paragraph">
                                Grursus mal suada faci lisis the as Lorem ipsum
                    dolarorit more ametion consectetur elit.
                            </p>
                            <a href="services-details.html" class="link btn--link btn btn--common rt-button-animation-out">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="16px" viewBox="0 0 34.53 16" xml:space="preserve">
                                    <rect class="rt-button-line" y="7.6" width="34" height=".4"></rect>
                                    <g class="rt-button-cap-fake">
                                        <path class="rt-button-cap" d="M25.83.7l.7-.7,8,8-.7.71Zm0,14.6,8-8,.71.71-8,8Z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="services__item services-key__content services-about mb-30">
                        <div class="services__item_overlay services-key__content_overlay"></div>
                        <header class="services__item_header services-key__content_header">
                            <i class="flaticon flaticon-analysis-1 services__item_icon services-key__content_icon icon"></i>
                            <h4 class="services__item_title services-key__content_title">
                                <a href="services-details.html">Monitoring &amp; Analysis</a>
                            </h4>
                        </header>
                        <div class="services__item_content services-key__content_text">
                            <p class="services__item_paragraph services-key__content_paragraph">
                                Grursus mal suada faci lisis the as Lorem ipsum
                    dolarorit more ametion consectetur elit.
                            </p>
                            <a href="services-details.html" class="link btn--link btn btn--common rt-button-animation-out">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="16px" viewBox="0 0 34.53 16" xml:space="preserve">
                                    <rect class="rt-button-line" y="7.6" width="34" height=".4"></rect>
                                    <g class="rt-button-cap-fake">
                                        <path class="rt-button-cap" d="M25.83.7l.7-.7,8,8-.7.71Zm0,14.6,8-8,.71.71-8,8Z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="services__item services-key__content services-about mb-30">
                        <div class="services__item_overlay services-key__content_overlay"></div>
                        <header class="services__item_header services-key__content_header">
                            <i class="flaticon flaticon-pie-chart services__item_icon services-key__content_icon icon"></i>
                            <h4 class="services__item_title services-key__content_title">
                                <a href="services-details.html">Manage Customers</a>
                            </h4>
                        </header>
                        <div class="services__item_content services-key__content_text">
                            <p class="services__item_paragraph services-key__content_paragraph">
                                Grursus mal suada faci lisis the as Lorem ipsum
                    dolarorit more ametion consectetur elit.
                            </p>
                            <a href="services-details.html" class="link btn--link btn btn--common rt-button-animation-out">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="16px" viewBox="0 0 34.53 16" xml:space="preserve">
                                    <rect class="rt-button-line" y="7.6" width="34" height=".4"></rect>
                                    <g class="rt-button-cap-fake">
                                        <path class="rt-button-cap" d="M25.83.7l.7-.7,8,8-.7.71Zm0,14.6,8-8,.71.71-8,8Z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp animated" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <div class="services__item services-key__content services-about mb-30">
                        <div class="services__item_overlay services-key__content_overlay"></div>
                        <header class="services__item_header services-key__content_header">
                            <i class="flaticon flaticon-hierarchical-structure services__item_icon services-key__content_icon icon"></i>
                            <h4 class="services__item_title services-key__content_title">
                                <a href="services-details.html">Organize Campaigns</a>
                            </h4>
                        </header>
                        <div class="services__item_content services-key__content_text">
                            <p class="services__item_paragraph services-key__content_paragraph">
                                Grursus mal suada faci lisis the as Lorem ipsum
                    dolarorit more ametion consectetur elit.
                            </p>
                            <a href="services-details.html" class="link btn--link btn btn--common rt-button-animation-out">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="16px" viewBox="0 0 34.53 16" xml:space="preserve">
                                    <rect class="rt-button-line" y="7.6" width="34" height=".4"></rect>
                                    <g class="rt-button-cap-fake">
                                        <path class="rt-button-cap" d="M25.83.7l.7-.7,8,8-.7.71Zm0,14.6,8-8,.71.71-8,8Z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Service Key Area End ======= -->

    <!-- ======= Team Area Start ======= -->
    <section class="team pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading text-center mb-50">
                        <span class="section-heading__title_small">OUR TEAM </span>
                        <h2 class="section-heading__title_big">Experiences IT Solutions.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-block">
                        <div class="image">
                            <img class="image__member" src="assets/images/team/team-member.jpg" alt="">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="facebook" href="javascript:void(0);">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="javascript:void(0);">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="javascript:void(0);">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin" href="javascript:void(0);">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <span class="designation">Art Director</span>
                            <h3 class="name">John Gonzalez</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-block">
                        <div class="image">
                            <img class="image__member" src="assets/images/team/team-member.jpg" alt="">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="facebook" href="javascript:void(0);">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="javascript:void(0);">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="javascript:void(0);">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin" href="javascript:void(0);">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <span class="designation">Marketing Head</span>
                            <h3 class="name">Ashley Riordan</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-block">
                        <div class="image">
                            <img class="image__member" src="assets/images/team/team-member.jpg" alt="">
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="facebook" href="javascript:void(0);">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="javascript:void(0);">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="javascript:void(0);">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin" href="javascript:void(0);">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <span class="designation">MANAGER &amp; qc</span>
                            <h3 class="name">Albert Coleman</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Team Area End ======= -->