<section class="contact pt-50 pb-100">
    <div class="container ">
        <div class="row row-space">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 row-space">
                        <span id="lblPosition">Position</span>
                        <select name="position" id="position" class="form-control form-select "
                            aria-label="Default select example">
                            <option value="assitent_content_editor">Assistent Content Editor</option>
                            <option value="content_editor">Content Editor</option>
                            <option value="programmer(.net)">Programmer(.NET)</option>
                            <option value="programmer(Java)">Programmer (Java)</option>
                        </select>
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="txtFullName">Full Name</span>
                        <input name="txtFullName" type="text" id="txtFullName" class="form-control"
                            placeholder="Enter Full Name">
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblAddress">Address</span>
                        <textarea name="txtAddress" rows="4" cols="20" id="txtAddress" placeholder="Enter your Address"
                            class="form-control"></textarea>
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblCity">Cty</span>
                        <input name="txtCity" type="text" id="txtCity" class="form-control" placeholder="Enter City">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 row-space">
                        <span id="lblEmail">Email</span>
                        <input name="txtEmail" type="email" id="txtEmail" class="form-control"
                            placeholder="Enter Email">
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblPhoneMobile">Phone/Mobile</span>
                        <input name="numPhoneNumber" type="number" id="txtPhoneMobile" class="form-control"
                            placeholder="Enter Mobile">
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblExperience">Experience</span>
                        <textarea name="experience" rows="2" cols="20" id="txtExperience"
                            placeholder="Enter your experience in Berif.." class="form-control"></textarea>
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblProfessionalDegree">Professional Degree/Course:</span>
                        <textarea name="ctl00$mainContentPlaceHolder$txtProfessionalDegree" rows="2" cols="20"
                            id="txtProfessionalDegree" class="form-control"
                            placeholder="Enter professional degree"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 row-space">
                        <span id="lblAreasOfInterest">Areas of Interest:</span>
                        <input name="ctl00$mainContentPlaceHolder$txtAreasOfInterest" type="email"
                            id="txtAreasOfInterest" class="form-control" placeholder="Enter you message">

                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblFile">File</span>
                        <input type="file" name="ctl00$mainContentPlaceHolder$FileUpload" id="FileUpload"
                            class="form-control">
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblExpertise">Expertise (Tools &amp; Technologies):</span>
                        <textarea name="ctl00$mainContentPlaceHolder$txtExpertise" rows="2" cols="20" id="txtExpertise"
                            class="form-control" placeholder="Enter expertes"></textarea>
                    </div>
                    <div class="col-md-12 row-space">
                        <span id="lblSecurity" class="mb-n2">Security</span>
                        <div class="input-group  mb-1">
                            <span id="lbl" class="form-control text-center fs-2">5869</span>
                            <span class="input-group-text bg-transparent" id="basic-addon2">
                                <a id="HyperLink1"><img
                                        src="https://icons.veryicon.com/png/o/miscellaneous/basic-monochrome-icon/refresh-149.png"
                                        width="40"></a></span>
                        </div>
                        <input name="txtSecurity" type="email" id="txtSecurity" class="form-control mx-auto"
                            placeholder="Enter Code" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-2 d-grid mx-auto">
                <input type="submit" name="btnSubmit" value="Submit" id="btnSubmit"
                    class="btn btn-primary rounded-0 px-3" />
            </div>
        </div>
    </div>
</section>